@import "../../../scss/mixins";
@import "../../../scss/variables";
.lodging {
  &__container {
    @include search-contain;
  }
  &__line {
    width: 2px;
    height: 32px;
    background-color: #dddddd;
  }
  &__filter {
    display: flex;
    padding: 14px 32px;
    padding-bottom: 2px;
    border-radius: 32px;
    min-width: 0;
    height: 66px;
    font-weight: $font-weight-bolder;
    letter-spacing: 0.04em;
    font-size: $font-size-5;
    line-height: 16px;
    .filter {
      display: flex;
      flex-direction: column;
    }
  }
  &__button {
    display: flex;
    border-radius: 100%;
    background-color: $pink;
    margin: 10px;
    &--submit {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 48px;
      height: 48px;
      cursor: pointer;
    }
  }
}
