@import "../../scss/mixins";
.thumbnaillist {
  display: flex;
  justify-content: space-between;
  margin-bottom: 54px;
  @include respond-to("small") {
    width: auto !important;
    display: inline-flex;
  }
}
