@import "../../scss/mixins";
.thumbnaillist {
  display: flex;
  justify-content: space-between;
  @include respond-to("small") {
    width: auto;
    display: inline-flex;
    padding: 0 24px;
  }
}
