@import "../../scss/mixins";
.thumbnaillist {
  display: flex;
  justify-content: space-between;
  margin-bottom: 54px;
  @include respond-to("small") {
    display: inline-flex;
    padding: 0 24px;
  }
}
