@import "../../scss/mixins";
@import "../../scss/variables";

.logo {
  width: 50%;
  svg {
    display: block;
  }
  &-large {
    display: block;
  }
  &-medium {
    display: none;
  }
  &.active {
    svg {
      fill: $pink;
    }
  }
  &.deactive {
    svg {
      fill: $white;
    }
  }
  @include respond-to(medium) {
    &-large {
      display: none;
    }
    &-medium {
      display: block;
    }
  }
  @include respond-to("small") {
    display: none;
  }
}
