@import "../scss/variables";
@import "../scss/mixins";
.fixedbar {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 58px;
  font-size: $font-size-4;
  line-height: 18px;
  color: $black;
  padding-top: 16px;
  padding-bottom: 16px;
  background: $white-gray;
  text-align: center;
  position: relative;
  > a {
    font-weight: $font-weight-bold;
    text-decoration: underline;
  }
  @include respond-to("small") {
    height: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
