.banner__container{
    width: 100%;
    padding-left: 10%;
    height: 70vh;
    background: url("../image/thumnail.jpg");
    overflow: hidden;
    background-repeat:no-repeat;
    background-position : center;
    background-size:cover;
    display: flex;
    align-items: center;
}
.banner__text__box{
    width: 300px;
    color: white;
}   
.banner__title{
    font-size: 30px;
    font-weight: 800;
    margin-bottom: 10px;
}
.banner__contents{
    font-size: 14px;
    margin-bottom: 30px;
}