@import "./scss/mixins";
.page {
  @include flex-column-center;
  width: 100%;
}
.container {
  width: 1220px;
  @include respond-to("large") {
    width: 90%;
  }
  @include respond-to("small") {
    &.slider {
      @include slider;
      width: 100%;
    }
    &.gridslider {
      @include slider;
      width: calc(100%-48px) !important;
    }
  }
}
