@import "../../scss/variables";
.border__button {
  padding: 8px 16px;
  border-radius: 10px;
  font-size: $font-size-4;
  font-weight: $font-weight-bold;
  cursor: pointer;
  &.white {
    color: $black;
    background-color: $white;
    &:hover {
      background: $white-gray;
    }
  }
  &.black {
    color: $white;
    border: 1px solid $white;
    &:hover {
      background: #717171;
    }
  }
}
