.thumbnail {
  border-radius: 16px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
  @media (max-width: 768px) {
    min-width: 280px;
    margin-right: 12px;
  }
  &.regular {
    width: 30%;
  }
  &.full {
    width: 100%;
  }
  .thumbnail--image {
    border-radius: 16px 16px 0 0;
    width: 100%;
  }
  .thumbnail__text {
    padding: 12px 16px 16px;
    .thumbnail__text--title {
      font-weight: bold;
      font-size: 18px;
      margin-bottom: 5px;
    }
    .thumbnail__text--content {
      font-size: 14px;
    }
  }
}
